html, body {
	background-color: orange;
	height: 100%;
	margin: 0;
}


.color-box {
	width: 300px;
	height: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -230px;
	transition: .5s ease-in;
}

.burger {
	width: 32px;
	position: fixed;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.burger span {
	width: 100%;
	height: 3px;
	background-color: black;
	display: block;
	margin-bottom: 5px;
}


.show-box {
	left: 0;
}

.color-box ul {
	margin: 0;
	padding-top: 100px;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	width: 70px;

	float: right;
	transition: .5s ease-in;

	

}


.color-box .show-ul {
	opacity: 1;
	visibility: visible;
	font-size: 30px;
	width: 150px;

}


.color-box ul li {
	margin-bottom: 10px;
	transform: uppercase;

	font-family: 'Lato', sans-serif;
}




.color-box ul li a {
	text-decoration: none;
	color: black;
}
