html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.logo {
  width: 100%;
  height: 100px;
  background-color: #fff; }

.logo > h1 {
  width: 100%;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 35.33px; }

.navigation {
  background-color: #2F373B; }

.navigation > ul > li {
  padding: 20px 0;
  padding-right: 20px;
  list-style: none;
  text-align: right;
  vertical-align: center;
  border-bottom: 1px solid rgba(36, 43, 46, 0.3); }
  .navigation > ul > li a {
    text-decoration: none;
    color: #fff;
    font-size: 23px; }

#blue {
  background-color: #1AB5B3; }

.swipe {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms; }

.swipe:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1AB5B3;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out; }

.swipe:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.all-works {
  width: 100%;
  height: 200px;
  background-color: #242B2E; }

.all-works > h3 {
  margin-top: 20px;
  text-align: right;
  margin-right: 20px;
  font-size: 25px;
  color: #1AB5B3; }

h3 > a {
  color: #1AB5B3; }

.all-works > ul {
  margin-top: 20px; }

.all-works > ul > li {
  text-align: right;
  padding: 5px 0;
  padding-right: 20px;
  color: #52575A;
  cursor: pointer;
  transition: 0.4s ease-in-out; }

.all-works > ul > li > a {
  color: #52575A; }

#baltas {
  color: #fff; }

.all-works > ul > li:hover {
  color: #fff; }

.social {
  width: 100%;
  height: 100px;
  margin-top: 45px;
  position: relative; }

.social > ul {
  width: 80%;
  text-align: right;
  margin: 0 20px 0 auto; }

.social > ul > li {
  display: inline-block;
  font-size: 30px;
  margin-right: 5px; }

.copy {
  margin-top: 20px; }

.social > li > a > svg {
  background-color: red; }

.copy > p {
  color: #52575A; }

.social > ul > li > a {
  color: #3b5998;
  transition: .4s ease-in-out; }

.social > ul > li > a:hover {
  height: 30px;
  width: 39.75px; }

.social > ul > li > a > .fa-twitter-square {
  color: #1da1f2; }

.social > ul > li > a > .fa-google-plus-square {
  color: #db4437; }

.social > ul > li > a > .fa-linkedin {
  color: #007bb5; }

.social > ul > li > a > .fa-pinterest {
  color: #bd081c; }

.social > ul > li > a > .fa-youtube-square {
  color: #ff0000; }

.social > ul > li > a .fa-github-square {
  color: #fff; }

.social > ul > li > a > svg {
  color: #fff; }

.social > ul > li > .facebook {
  background: #3e5ea2; }

html, body {
  font-family: 'Roboto', sans-serif; }

.main-page {
  width: 100%;
  height: auto;
  position: relative; }

.left-container {
  width: 18%;
  height: 849px;
  background-color: #242B2E; }

.right-container {
  width: 82%;
  height: 849px;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 18%; }

.right-container > .image-container {
  float: left;
  overflow: hidden;
  width: 25%;
  height: 283px;
  background-color: black; }

.right-container > .image-container > .image {
  width: 100%;
  height: 283px;
  transition: .3s ease-in;
  background-position: center center;
  background-size: cover;
  opacity: .8; }

.image-container > .image:hover {
  transform: scale(1.1);
  opacity: 1; }

.right-container > .image-container:nth-child(1) > .image {
  background-image: url("../../resources/img/1.jpg"); }

.right-container > .image-container:nth-child(2) > .image {
  background-image: url("../../resources/img/2.jpg"); }

.right-container > .image-container:nth-child(3) > .image {
  background-image: url("../../resources/img/3.jpeg"); }

.right-container > .image-container:nth-child(4) > .image {
  background-image: url("../../resources/img/4.jpeg"); }

.right-container > .image-container:nth-child(5) > .image {
  background-image: url("../../resources/img/5.jpeg"); }

.right-container > .image-container:nth-child(6) > .image {
  background-image: url("../../resources/img/6.jpeg"); }

.right-container > .image-container:nth-child(7) > .image {
  background-image: url("../../resources/img/7.jpeg"); }

.right-container > .image-container:nth-child(8) > .image {
  background-image: url("../../resources/img/8.jpeg"); }

.right-container > .image-container:nth-child(9) > .image {
  background-image: url("../../resources/img/9.jpeg"); }

.right-container > .image-container:nth-child(10) > .image {
  background-image: url("../../resources/img/10.jpeg"); }

.right-container > .image-container:nth-child(11) > .image {
  background-image: url("../../resources/img/11.jpeg"); }

.right-container > .image-container:nth-child(12) > .image {
  background-image: url("../../resources/img/12.jpeg"); }
