

@import "partials/mixins";
@import "partials/reset";
@import "partials/navigation";
@import "partials/all-works";
@import "partials/socialicons";



html, body {
	font-family: 'Roboto', sans-serif;
	
}



.main-page {
	width: 100%;
	height: auto;
 	position: relative;}

.left-container {
	width: 18%;
	height: 849px;
	background-color: #242B2E;
	
}


.right-container {
	width: 82%;
	height: 849px;
	background-color: yellow;
	position: absolute;
	top: 0;
	left: 18%;
	

}

		
.right-container > .image-container
{
   	float: left;
    overflow: hidden;
    width: 25%;
    height: 283px;
    background-color: black;
  }

.right-container > .image-container > .image {
    width: 100%;
    height: 283px;
    transition: .3s ease-in;
    background-position: center center;
    background-size: cover;
    
    opacity: .8;
}

.image-container > .image:hover {

    transform: scale(1.1);

    opacity: 1;}
   

.right-container > .image-container:nth-child(1) > .image {
	background-image: url('../../resources/img/1.jpg');}


.right-container > .image-container:nth-child(2) > .image {
	background-image: url('../../resources/img/2.jpg');}


.right-container > .image-container:nth-child(3) > .image {
	background-image: url('../../resources/img/3.jpeg');}


.right-container > .image-container:nth-child(4) > .image {
	background-image: url('../../resources/img/4.jpeg');}


.right-container > .image-container:nth-child(5) > .image {
	background-image: url('../../resources/img/5.jpeg');}


.right-container > .image-container:nth-child(6) > .image {
	background-image: url('../../resources/img/6.jpeg');}


.right-container > .image-container:nth-child(7) > .image {
	background-image: url('../../resources/img/7.jpeg');}


.right-container > .image-container:nth-child(8) > .image {
	background-image: url('../../resources/img/8.jpeg');}


.right-container > .image-container:nth-child(9) > .image {
	background-image: url('../../resources/img/9.jpeg');}


.right-container > .image-container:nth-child(10) > .image {
	background-image: url('../../resources/img/10.jpeg');}


.right-container > .image-container:nth-child(11) > .image {
	background-image: url('../../resources/img/11.jpeg');}


.right-container > .image-container:nth-child(12) > .image {
	background-image: url('../../resources/img/12.jpeg');
}


