.all-works {
	width: 100%;
	height: 200px;
	background-color: #242B2E;
}


.all-works > h3 {
	margin-top: 20px;
	text-align: right;
	margin-right: 20px;
	font-size: 25px;
	color: #1AB5B3;


}

 h3 > a {
	color: #1AB5B3;
}




.all-works > ul {
	margin-top: 20px;
}


.all-works > ul > li {

	text-align: right;
	padding: 5px 0;
	padding-right: 20px;
	color: #52575A;
	cursor: pointer;
	transition: 0.4s ease-in-out; 
}

.all-works > ul > li > a {
	color: #52575A;
}
#baltas {
	color: #fff;
}

.all-works > ul > li:hover {
	color: #fff;
	
}