.logo {
	width: 100%;
	height: 100px;
	background-color: #fff;
}


.logo > h1 {

	width: 100%;
	font-size: 30px;
	color: black;
	text-align: center;
	padding-top: 35.33px;
}

.navigation {
	background-color: #2F373B;
	
}


.navigation > ul > li {
	padding: 20px 0;
	padding-right: 20px;
	list-style: none;
	text-align: right;
	vertical-align: center;
	border-bottom: 1px solid rgba(36, 43, 46, .3);

	a {
		text-decoration: none;
		color: #fff;
		font-size: 23px;

	}
}

.navigation > ul > li:hover {

}

#blue {
	background-color: #1AB5B3;

}


.swipe {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;}

 .swipe:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1AB5B3;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;}

 .swipe:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);}