
.social {
	width: 100%;
	height: 100px;
	
	margin-top: 45px;
	position: relative;


}

.social > ul {
	

	width: 80%;
	
	text-align: right;
	margin: 0 20px 0 auto;

	


}
.social > ul > li {

	display: inline-block;
	font-size: 30px;
	margin-right: 5px;
	}

.copy {
	margin-top: 20px;
}


.social > li > a > svg {
	background-color: red;
	
}


.copy > p {
color: #52575A;
}


	
.social > ul > li > a {
	color: #3b5998;
	transition: .4s ease-in-out;
}

.social > ul > li > a:hover{
	height: 30px;
	width: 39.75px;
	
}





// .social > ul > li > a > svg {
// 	padding: 0;
	
// }


.social > ul > li > a > .fa-twitter-square {
 color:  #1da1f2;}

.social > ul > li > a > .fa-google-plus-square {
	color: #db4437;}

.social > ul > li > a > .fa-linkedin {
	color: #007bb5;}


.social > ul > li > a > .fa-pinterest {
	color: #bd081c;}

.social > ul > li > a > .fa-youtube-square {
	color: #ff0000;}


.social > ul > li > a .fa-github-square {
	color: #fff;}


.social > ul > li > a > svg {
	color: #fff;
}

.social > ul > li > .facebook {
	background: #3e5ea2;
}