@import "libs/reset";
@import "libs/variables";
@import "libs/mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
	font-weight: 400;
	owerflow-X:hidden;

	}

h1 {
	font-size: 36px;
	margin: 20px 0;
	font-weight: 700;
}

.track {
	width: 100%;
	height: 500px;
	position: relative;
	border-bottom: 5px solid black;
	
	> img {
		position: absolute;
		
		right: 10px;
		bottom: -40px;
		z-index: 14;
		width: 530px;
	}

	.start, .end {
		position: absolute;
		bottom: 10px;
	}

	.start {
		left: 0;
	}
	.end {
		right: 0;

	}

.second-line {
	position: absolute;
	left: -10px;
	bottom: 150px;


}
}

.racer {
	position: absolute;
	bottom: 10px;
	width: 240px;
	height: 180px;
	left: 0;
	transition: 1s;



	img {
		height: 100%;
		width: 100%;
		object-fit: contain;

	}

	&.batman{
		z-index: 10;



	}

	&.human{
		z-index: 9;
		
	}

	&.nindze{
		transform: scaleX(-1);
	}
}