body,
html
{
    margin: 0;
    padding: 0;
}


*
{
    box-sizing: border-box;
}
body
{
    background-image: url('../img/1.jpg');
    background-size: cover;
}



.footer
{
    width: 100%;
    height: 200px;
    margin-top: 60px;
}

.footer > .isorinis
{
    position: relative;

    width: 130px;
    height: 130px;
    margin: 0 auto;

    transform: rotate(45deg);

    background-color: #fff;
}


.footer > .isorinis > .logo
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;
    margin: 0 auto;

    transform: translate(-50%, -50%);

    border: 2px solid #FF3169;
    background-color: #fff;
}

.footer > .isorinis > .logo > svg
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;

    transform: rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);

    color: #FF3169;
}


.pavadinimas > h1
{
    font-family: 'Roboto', sans-serif;

    width: 100%;

    text-align: center;
    word-spacing: 2px;

    color: white;
}

.forma
{
    width: 500px;
    margin: 0 auto;
    padding: 40px 20px;


    
}
.forma > form
{
    width: 100%;
}

.forma .form-group 
{
    width: 100%;
	height: 50px;
	margin-bottom: 30px;
    background-color:   rgb(171, 160, 160, 0.5);
   

}

.form-group > input,
.form-group > .icon
{
    float: left;
   /* height: 50px;*/
    height: 100%;
    
}

.form-group > input
{
    width: 90%;
    border: 0;
	outline: 0;
	color: #fff;
	padding-left: 20px;
    background-color: transparent;
}

::placeholder {
	color: #fff;
}

.form-group > .icon
{
    width: 10%;
    color: white;
    border-right: 1px solid #fff;
    position: relative;
   

  
}




.form-group > .icon > svg {
	height: 20px;
	width: 20px;
	left: calc(50% - 10px);
	top: calc(50% - 10px);

	position: absolute;
}

.form-group > button {
	width: 100%;
	height: 50px;

}

.form-group > button {
	background-color: #FF3169;
	border: 0;
	outline: 0;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}
.form-group > button:hover {
	background-color: #ea2e60;
	color: black;

}



.login-btn {
    height: 100%;
}

