html,
body
{
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Karla', sans-serif;

    background-color: #fff;
}


*
{
    box-sizing: border-box;
}

.header
{
    width: 100%;
    height: 80px;

    border: 1px solid rgba(0, 0, 0, .3);
}

.header > .logo,
.header > .meniu
{
    display: flex;
    float: left;

    height: 100%;

    align-items: center;
}



.header > .logo
{
    width: 250px;
    padding-left: 30px;
}


.logo > h1
{
    font-size: 24px;

    margin: 0;

    color: #31745f;
}


.header > .meniu
{
    position: relative;

    width: calc(100% - 250px);
    padding-right: 30px;
}


.meniu > ul
{
    width: 100%;
    height: 30px;

    text-align: right;
}

.meniu > ul > li
{
    font-size: 20px;
    line-height: 30px;

    display: inline-block;

    margin-right: 7px;
    margin-left: 7px;

    cursor: pointer;
}

.meniu > .burger
{
    position: absolute;
    right: 30px;

    display: none;

    width: 15px;
    height: 20px;

    cursor: pointer;
}


.burger > span
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    background-color: black;
}

.burger > span:nth-child(1)
{
    top: 0;
}

.burger > span:nth-child(2)
{
    top: 6px;
}
.burger > span:nth-child(3)
{
    top: 12px;
}

.meniu > ul > li > a
{
    text-decoration: none;

    color: #31745f;
}



/*PORTFOLIO STYLE----------*/

.portfolio
{
    width: 100%;
}


.portfolio > .item
{
    float: left;
    overflow: hidden;

    width: 25%;
    height: 300px;

    background-color: black;
}




.portfolio > .item > .image
{
    width: 100%;
    height: 100%;

    transition: .3s ease-in;

    opacity: .8;
    background-position: center center;
    background-size: cover;
}



.portfolio > .item > .image:hover
{
    transform: scale(1.1);

    opacity: 1;
}

.portfolio > .item:nth-child(1) > .image
{
    background-image: url('../img/1.jpeg');
}

.portfolio > .item:nth-child(2) > .image
{
    background-image: url('../img/2.jpeg');
}

.portfolio > .item:nth-child(3) > .image
{
    background-image: url('../img/3.jpeg');
}

.portfolio > .item:nth-child(4) > .image
{
    background-image: url('../img/4.jpeg');
}

.portfolio > .item:nth-child(5) > .image
{
    background-image: url('../img/5.jpeg');
}

.portfolio > .item:nth-child(6) > .image
{
    background-image: url('../img/6.jpeg');
}

.portfolio > .item:nth-child(7) > .image
{
    background-image: url('../img/7.jpeg');
}

.portfolio > .item:nth-child(8) > .image
{
    background-image: url('../img/8.jpeg');
}



/*DAZNIAUSI DYDZIAI 1200, 992, 768, 468, 380 */


/*0 - 992*/

@media all and (max-width: 992px)
{
    .portfolio > .item
    {
        width: 33.3%;
    }
}



@media all and (max-width: 768px)
{
    .portfolio > .item
    {
        width: 50%;
    }

    .meniu > ul
    {
        display: none;
    }

    .meniu > .burger
    {
        display: block;
    }
}

@media all and (max-width: 468px)
{
    .portfolio > .item
    {
        width: 100%;
    }
}
