html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

body, html {
  height: 100%; }

.main-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/1.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }

.header {
  width: 100%; }

.logo {
  width: 70%;
  margin: 0 auto;
  padding-top: 25px; }

.logo > h1 {
  text-align: left;
  font-size: 25px; }

.center-logo {
  height: 100px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%; }
  .center-logo h1 {
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px; }

.logo > h1 > span {
  font-size: 25px; }

.navigation {
  width: 100%; }
  .navigation nav {
    width: 80%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 10%;
    text-align: center;
    margin-bottom: 10px; }

nav > ul > li {
  display: inline-block;
  margin-right: 20px; }

nav > ul > li > a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding-bottom: 5px; }

nav > ul > li > a:hover {
  font-weight: bold;
  border-bottom: 2px solid #11e0ac;
  transition: .3s ease-in-out; }
