// Responsive breakpoints
// define custom if needed
$breakpoints: (
	xsmall : 576px,
	small  : 768px,
	medium : 992px,
	large  : 1200px,
	xlarge : 1400px
);

// Media query mixins
@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	}
}